body{
    background-color: #99a98f;
    text-align: center;
}
#all{
    margin-top: 30px;
    text-align: center;
    
}
.element{
    font-size: larger;
    padding: 10px;
    text-decoration: none;
    color: #425245;
    cursor: pointer;
}
#information{
    text-align: center;
    display: inline-block;
}
.gear{
    background-color: #fcfafa;
    padding: 10px;
    border-radius: 10px;
}
/* #name{
    color: #5e7863;
    padding: 0px;
    margin: 0px;
}

#mail{
    color: rgba(128, 128, 128, 0.946);
    margin-top: 10px;
}
.interest{
    color: #425245;
    font-size: 20px;
    font-weight: bold;
}
#loca-btn{
    color: rgba(128, 128, 128, 0.946);
    width: 10px;
}
.loca-text{
    margin: 0px;
    color: rgba(128, 128, 128, 0.946);
    font-size: 20px;
}
#insta{
    margin-top: 30px;
    width: 50px;
    cursor: pointer;
}
#x{
    margin-top: 30px;
    margin-left: 20px;
    width: 50px;
    cursor: pointer;
}
#email{
    margin-top: 30px;
    margin-left: 20px;
    width: 50px;
    cursor: pointer;
}
.media{
    padding: 15px;
}
#bookrec{
    color: #425245;
    font-size: 30px;
}
#book{
    border: 5px solid;
    border-radius: 30px;
    width: 300px;
} */
#box1{
    margin-top: 20px;
    background-color: #7d8f85;
    width:430px;
    border-radius: 10px;
    display: inline-block;
    color: white;
    font-size: 15px;
    margin-bottom: 15px;
    text-align: start;
}
#box1 h2{
    margin: 10px;
    letter-spacing: 1px;
}
/* button{
    margin-top: 10px;
    background-color: #7d8f85;
    width:500px;
    height: 40px;
    border-radius: 10px;
    display: inline-block;
    color: white;
    text-align: start;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
} */
#box1:hover{
    background-color: #4a6154;
    /* transform: scale(1.1); */
    width: 440px;
}
#box2{
    margin-top: 0px;
    background-color: #d2cece;
    width:400px;
    border-radius: 10px;
    display: inline-block;
    color: black;
    font-size: 22px;
    margin-bottom: 5px;
    text-align:start;
    padding: 10px;
}
#box2 h5{
    margin-top: 4px;
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 0px;
}
#box2 p{
    margin-left: 10px;
    font-size: 15px;
}
#box2:hover{
    width: 410px;
    background-color: #afafaf;
}
#box3 h5,p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    color: #425245;
}
#box3 {
    background-color: #d2cece;
    width: 380px;
    display: inline-block;
    text-align: start;
    padding: 10px;
    border-radius: 10px;
}
#quode{
    color: #425245;
    margin-top: 30px;
}